.card-wrapper{
    height: 300px;
    width: 100%;
}

.card{    
    margin: 5px;
    height: 100%;
}

.content-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card-button{
    width: 48%;
    height: 40px;
}

.category-menu{
    padding: 10px;
    border: #5ebba675;
    border-style: groove;
    border-radius: 7px;
    margin-bottom: 5px;
    border-width: 1px;
    .btn{
        margin: 1px;
    }
}
